.case {
	// .case__banner
	&__banner {
		position: relative;
		min-height: rem(395);

		width: 100%;
		padding: rem(50) 0 rem(45);
		@media (min-width: $md5) {
			padding: rem(100) 0 rem(90);
		}
		@media (min-width: 2600px) {
			min-height: rem(600);
		}
		background-color: #f2f8ff;
		z-index: 1;
		display: flex;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 67.4%;
			@media (min-width: 2600px) {
				width: 50%;
			}
			height: 100%;
			background: linear-gradient(90deg, #f2f8ff 0%, rgba(242, 248, 255, 0) 100%) 0 0 / 25.5rem 100% no-repeat, url("@img/case-banner.jpg") 1px center / cover no-repeat;
			z-index: -1;
		}
		.case__container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
		}
	}
	// .case__container
	&__container {
	}
	// .case__offer
	&__offer {
	}
	// .case__title
	&__title {
		color: #0057b8;
		font-weight: 400;
	}
	// .case__list
	&__offer-list {
		display: flex;
		font-weight: 500;
		flex-direction: column;
		gap: 0.75rem;
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 2.15rem;
			gap: 1.44rem;
			flex-direction: row;
		}
	}
	// .case__logotypes
	&__logotypes {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		gap: 3.12rem;
	}
	// .case__logotype
	&__logotype {
	}
	// .case__body
	&__body {
	}
	// .case__container
	&__container {
	}
	// .case__content
	&__content {
		margin-top: 2.7rem;
		@media (min-width: $md4) {
			display: flex;
			align-items: flex-start;
		}
	}
	// .case__sidebar
	&__sidebar {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.1875rem;
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
		padding: 0 0 2.5rem 0;
		margin-bottom: 3.13rem;
		@media (min-width: $md4) {
			padding: 0;
			margin-bottom: 0;
			&::before {
				display: none;
			}
			position: sticky;
			top: 8rem;
			flex: 0 0 15rem;
		}
		@media (min-width: $md3) {
			flex: 0 0 21rem;
		}
	}
	// .case__sidebar-list
	&__sidebar-list {
		font-size: 1.25rem;
		@media (min-width: $md3) {
			padding: 1.5rem rem(60) 0 0;
			font-size: 1.5625rem;

			line-height: 140%;
		}
		font-weight: 500;
		line-height: 140%;
	}
	// .case__sidebar-item
	&__sidebar-item {
		&:not(:last-child) {
			margin-bottom: 1rem;
			@media (min-width: $md3) {
				margin-bottom: 1.85rem;
			}
		}
		&:first-child {
			.case__sidebar-link {
				position: relative;
				padding-bottom: 1rem;
				&::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 0.1875rem;
					background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
				}
			}
		}
	}
	// .case__sidebar-link
	&__sidebar-link {
		display: block;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0057b8;
			}
		}
	}
	// .case__share
	&__share {
		display: flex;
		align-items: center;
		margin-top: 4.38rem;
		gap: 1.88rem;
	}
	// .case__share-text
	&__share-text {
		color: #000;
		font-size: 0.875rem;
		font-weight: 500;
	}
	// .case__share-btns
	&__share-btns {
		display: flex;
		align-items: center;
		gap: 0.62rem;
	}
	// .case__share-btn
	&__share-btn {
		font-size: 2rem;
		@media (min-width: $md3) {
			font-size: 2.5rem;
		}
		color: #0057b8;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #0057b8, $amount: 10);
			}
		}
	}
	// .case__article
	&__article {
		@media (min-width: $md4) {
			border-left: rem(1) solid #dadada;
			padding-left: 4.5rem;
		}
	}
	// .case__block
	&__block {
		&:not(:last-child) {
			margin-bottom: 3.3rem;
		}
	}
	// .case__caption
	&__caption {
		font-family: $font-noto;
		line-height: 100%;
		font-size: 2.25rem;
		@media (min-width: $md5) {
			font-size: 2.8125rem;
		}
	}
	// .case__keywords
	&__keywords {
		margin-top: 2.5rem;
		border-radius: 0.625rem;
		background: #f2f8ff;
		padding: 1.75rem;
		@media (min-width: $md5) {
			padding: 3rem 3.12rem 3.5rem;
		}
		display: flex;
		flex-wrap: wrap;
		gap: 1.25rem;
		row-gap: 2rem;
	}
	// .case__keyword
	&__keyword {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 140%;
		padding-bottom: 0.65rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			height: 0.1875rem;
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
	}
	// .case__desc
	&__desc {
		margin-top: 1.87rem;
		color: #303030;
		line-height: 150%;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		& + .case__desc {
			margin-top: 1.2rem;
		}
	}
	// .case__promo
	&__promo {
		margin-top: 2.5rem;
		max-width: 36.125rem;
	}
	// .case__tagline
	&__tagline {
		margin-top: 1.87rem;
		color: #272727;
		font-weight: 500;
		line-height: 150%;
		font-size: 1.25rem;
		@media (min-width: $md5) {
			font-size: 1.5625rem;
		}
		& + .case__desc {
			margin-top: 1.25rem;
		}
	}
	// .case__list
	&__list {
		margin-top: 1.25rem;
		color: #303030;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		line-height: 150%;
		& span {
			display: block;
			font-weight: 500;
		}
		&._ordered {
			& li {
				counter-increment: num;
				padding-left: 2.25rem;
				&::before {
					content: counter(num) ".";
					position: absolute;
					top: 0;
					left: 0;
					color: #0057b8;
					font-size: 1.125rem;
					font-style: normal;
					font-weight: 500;
					line-height: 150%;
				}
			}
		}
		&:not(._ordered) {
			& li {
				padding-left: 2.75rem;
				&::before {
					content: "";
					position: absolute;
					top: 0.62rem;
					left: 0.85rem;
					width: 0.5625rem;
					height: 0.5625rem;
					flex-shrink: 0;
					background: #0057b8;
					border-radius: 50%;
				}
			}
		}
		& li {
			position: relative;

			&:not(:last-child) {
				margin-bottom: 1.1rem;
			}
		}
		& + .case__desc {
			margin-top: 1.25rem;
		}
	}
	// .case__image
	&__image {
		margin-top: rem(40);
		& + .case__tagline {
			margin-top: rem(40);
		}
		& img {
			border-radius: rem(10);
		}
	}
	// .case__labels
	&__labels {
		margin-top: rem(36);
		display: flex;
		flex-wrap: wrap;
		gap: 0.61rem;
		& + .case__desc {
			margin-top: rem(40);
		}
	}
	// .case__label
	&__label {
		color: #303030;
		font-size: 0.8125rem;
		font-weight: 500;
		padding: 0.3rem 1.2rem;
		border-radius: 9.375rem;
		display: inline-block;
		border: 1px solid #303030;
		background: #fff;
	}
	// .case__faq
	&__faq {
		margin-top: 3.75rem;
	}
	// .case__faq-item
	&__faq-item {
		position: relative;
		counter-increment: num;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			height: rem(1.15);
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
		padding-bottom: 2rem;
		&:not(:last-child) {
			margin-bottom: 1.75rem;
		}
	}
	// .case__faq-question
	&__faq-question {
		font-size: 1.25rem;
		@media (min-width: $md5) {
			font-size: 1.5625rem;
		}
		max-width: 53rem;
		font-weight: 500;
		line-height: 150%;

		&::before {
			content: counter(num) ".";
			color: #0057b8;
		}
	}
	// .case__faq-answer
	&__faq-answer {
		margin-top: 1.25rem;
		color: #303030;
		line-height: 150%;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
	}
	// .case__tags
	&__tags {
		margin-top: 1.88rem;
	}
	// .case__tag
	&__tag {
		color: #0057b8;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 150%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #0057b8, $amount: 10);
			}
		}
	}
}
