.case {
	@media (max-width: $md4) {
		overflow: hidden;
	}
	& + .blog {
		padding-top: rem(50);
		@media (min-width: $md4) {
			padding-top: 6.25rem;
		}
	}
	& + .whitepaper {
		padding-top: rem(50);
		@media (min-width: $md4) {
			padding-top: 6.25rem;
		}
	}
	// .case__banner
	&__banner {
		position: relative;
		width: 100%;
		z-index: 1;
		display: flex;
		padding: 2.5rem 0;
		@media (min-width: $md4) {
			padding: 0;
			min-height: rem(320);
		}
		@media (min-width: $md2) {
			min-height: rem(410);
		}
		&.case__banner_default {
			min-height: rem(395);
			@media (min-width: 2600px) {
				min-height: rem(600);
			}
			background-color: #f2f8ff;
			padding: rem(50) 0 rem(45);
			@media (min-width: $md5) {
				padding: rem(100) 0 rem(90);
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 67.4%;
				@media (min-width: 2600px) {
					width: 50%;
				}
				height: 100%;
				background: linear-gradient(90deg, #f2f8ff 0%, rgba(242, 248, 255, 0) 100%) 0 0 / 25.5rem 100% no-repeat, url("@img/case-banner.jpg") 1px center / cover no-repeat;
				z-index: -1;
			}
			.case__title {
				color: #0057b8;
			}
			.case__container {
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
			}
		}
		&.case__banner_green {
			background: #389520;
			color: #fff;
		}
		&.case__banner_auqa {
			background: #16cbc2;
			color: #fff;
		}
		&.case__banner_light {
			background: #86bc25;
			color: #fff;
		}
		.case__container {
			display: flex;
			align-items: center;
			width: 100%;
			flex-direction: column;
			@media (min-width: $md4) {
				align-items: flex-end;
				flex-direction: row;
			}
		}
	}
	// .case__container
	&__container {
	}
	// .case__offer
	&__offer {
		padding: 1rem 0;
		min-width: 40%;
		align-self: center;
	}

	// .case__main-image
	&__main-image {
		margin-left: -3rem;
		margin-right: -1rem;
		margin-top: 2.5rem;
		margin-bottom: -3.85rem;
		max-width: rem(390);
		@media (min-width: $md5) {
			margin-bottom: -4.4rem;
			max-width: rem(570);
		}
		@media (min-width: $md4) {
			max-width: rem(714);
			margin-right: 0;
			margin-left: 0;
			margin-top: 0;
			margin-bottom: -0.5rem;
			transform: translateY(1rem);
			&.lg-offset {
				margin-bottom: -0.75rem;
			}
		}
		@media (min-width: $md3) {
			margin-right: 2rem;
			margin-bottom: -0.875rem;
			&.lg-offset {
				margin-bottom: -1.125rem;
			}
		}
		@media (min-width: $md2) {
			margin-bottom: -1.45rem;
			&.lg-offset {
				margin-bottom: -1.75rem;
			}
		}
	}
	// .case__title
	&__title {
		font-weight: 400;
		@media (max-width: $md4) {
			font-size: 2.5rem;
		}
	}
	// .case__list
	&__offer-list {
		display: flex;
		font-weight: 500;
		flex-direction: column;
		gap: 0.75rem;
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 2.15rem;
			gap: 1.44rem;
			flex-direction: row;
		}
	}
	// .case__logotypes
	&__logotypes {
		margin-top: 1.25rem;
		gap: 2.36rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
			gap: 3.12rem;
		}
		display: flex;
		align-items: center;
	}
	// .case__logotype
	&__logotype {
		@media (max-width: $md5) {
			& img {
				max-height: 1.61938rem;
			}
		}
	}
	// .case__body
	&__body {
		margin-top: 2rem;
	}
	// .case__container
	&__container {
	}
	// .case__content
	&__content {
		margin-top: 4rem;
		@media (min-width: $md4) {
			display: flex;
			align-items: flex-start;
		}
	}
	// .case__sidebar
	&__sidebar {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 0.1875rem;
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
		padding: 0 0 2.5rem 0;
		margin-bottom: 2rem;
		@media (min-width: $md4) {
			padding: 0;
			margin-bottom: 0;
			&::before {
				display: none;
			}
			position: sticky;
			top: 8rem;
			flex: 0 0 15rem;
			max-height: calc(100vh - rem(140));
			overflow-y: auto;
			&::-webkit-scrollbar {
				display: none;
			}
			scrollbar-width: none;
		}
		@media (min-width: $md3) {
			flex: 0 0 21rem;
		}
	}
	// .case__sidebar-list
	&__sidebar-list {
		font-size: 1.25rem;
		@media (min-width: $md3) {
			padding: 0 rem(65) 0 0;
			line-height: 140%;
		}
		font-weight: 500;
		line-height: 140%;
	}
	// .case__sidebar-item
	&__sidebar-item {
		&:not(:last-child) {
			margin-bottom: 0.5rem;
			@media (min-width: $md3) {
				margin-bottom: 0.85rem;
			}
		}
	}
	// .case__sidebar-link
	&__sidebar-link {
		display: block;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #0057b8;
			}
		}
		&.active {
			color: $accent;
			&::before {
				width: 100%;
			}
		}
		position: relative;
		padding-bottom: 0.5rem;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			transition: width 0.3s ease 0s;
			height: 0.1875rem;
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
		@media (min-width: $md3) {
			padding-bottom: 1.325rem;
		}
	}
	// .case__share
	&__share {
		display: flex;
		align-items: center;
		margin-top: 1.75rem;
		gap: 1.25rem;
	}
	// .case__share-text
	&__share-text {
		color: #000;
		font-size: 0.875rem;
		font-weight: 500;
	}
	// .case__share-btns
	&__share-btns {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .case__share-btn
	&__share-btn {
		font-size: 2rem;
		color: #0057b8;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #0057b8, $amount: 10);
			}
		}
	}
	// .case__article
	&__article {
		min-width: 0;
		@media (min-width: $md4) {
			border-left: rem(1) solid #dadada;
			padding-left: 4.5rem;
		}
		&.green-markers {
			& li {
				&::before {
					color: #389520;
				}
			}
		}
		&.dark-markers {
			& li {
				&::before {
					background: #303030;
				}
			}
		}
	}
	// .case__block
	&__block {
		&:not(:first-child) {
			padding-top: 2.75rem;
			@media (min-width: $md5) {
				padding-top: 3.3rem;
			}
		}
		& p:not([class]) {
			@extend .case__desc;
			& strong {
				font-weight: 600;
			}
			& > a {
				color: #0057b8;
				text-decoration: underline;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		& i:not([class]) {
			margin-top: 0.25rem;
			display: inline-block;
			@extend .case__desc;
			font-weight: 500;
		}
		& h2:not([class]) {
			@extend .case__caption;
			margin-bottom: 40px;
		}
		& h3:not([class]) {
			@extend .case__heading;
			& + p {
				margin-top: rem(20);
			}
			& + ul {
				margin-top: rem(15);
			}
		}
		& > .color-blue {
			@extend .case__heading;
			& + p {
				margin-top: rem(20);
			}
			& + ul,
			& + h2,
			& + ol.lg-list {
				margin-top: rem(13);
			}
		}
		& > strong:not([class]) {
			display: block;
			@extend .case__tagline;
		}
		& > img:not([class]) {
			@extend .case__image;
			border-radius: rem(10);
		}
		& picture:not([class]) {
			display: block;
			margin-top: rem(30);
			@media (min-width: $md5) {
				margin-top: rem(50);
			}
			& img,
			& source {
				border-radius: rem(10);
				width: 100%;
			}
		}
		& ul:not([class]) {
			margin-top: 1.25rem;
			color: #303030;
			@media (min-width: $md5) {
				margin-top: 1.5rem;
				font-size: 1.125rem;
			}
			line-height: 150%;
			& span {
				display: block;
				font-weight: 500;
			}
			& > li {
				position: relative;

				& > a {
					color: #0057b8;
					text-decoration: underline;
					@media (any-hover: hover) {
						&:hover {
							text-decoration: none;
						}
					}
				}
				padding-left: 1.75rem;
				&::before {
					content: "";
					position: absolute;
					top: 0.65rem;
					left: 0;
					@media (min-width: $md5) {
						left: 0.65rem;
					}
					width: 0.45rem;
					height: 0.45rem;
					flex-shrink: 0;
					background: currentColor;
					border-radius: 50%;
				}
				&:not(:last-child) {
					margin-bottom: 0.75rem;
					@media (min-width: $md5) {
						margin-bottom: 0.8rem;
					}
				}
			}
			& ol {
				margin-top: 1rem;
				& > li {
					padding-left: 1.45rem;
				}
			}
		}
		& ol:not([class]) {
			margin-top: 1.25rem;
			color: #303030;
			@media (min-width: $md5) {
				margin-top: 1.5rem;
				font-size: 1.125rem;
			}
			line-height: 150%;
			& span {
				display: block;
				font-weight: 500;
			}
			& > li {
				position: relative;
				&:not(:last-child) {
					margin-bottom: 0.75rem;
					@media (min-width: $md5) {
						margin-bottom: 0.8rem;
					}
				}
				& > a {
					color: #0057b8;
					text-decoration: underline;
					@media (any-hover: hover) {
						&:hover {
							text-decoration: none;
						}
					}
				}
				counter-increment: num;
				padding-left: 1.5rem;
				@media (min-width: $md5) {
					padding-left: 2.25rem;
				}
				&::before {
					content: counter(num) ".";
					position: absolute;
					top: 0;
					left: 0;
					color: currentColor;
					font-size: 1.125rem;
					font-style: normal;
					line-height: 150%;
				}
			}
			& ul {
				margin-top: 1rem;
			}
		}
		& ol.lg-list {
			margin-top: 1.25rem;
			color: #272727;
			@media (min-width: $md5) {
				margin-top: 1.5rem;
				font-weight: 500;
				font-size: rem(22);
			}
			line-height: 150%;

			& > li {
				position: relative;
				&:not(:last-child) {
					margin-bottom: 0.5rem;
				}
				& > a {
					color: #0057b8;
					text-decoration: underline;
					@media (any-hover: hover) {
						&:hover {
							text-decoration: none;
						}
					}
				}
				counter-increment: num;
				padding-left: 1.5rem;

				&::before {
					content: counter(num) ".";
					position: absolute;
					top: 0;
					left: 0;
					font-size: rem(22);
					font-style: normal;
					font-weight: 500;
					line-height: 150%;
				}
			}
		}
		& sup {
			vertical-align: top;
			display: inline-block;
			font-size: 0.7em;
			font-weight: 400;
			transform: translateY(-0.3rem);
			// margin-inline-start: 0.125em;
		}
	}

	// .case__block-header
	&__block-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .case__date
	&__date {
		color: #606060;
		font-size: 0.875rem;
		line-height: 150%;
	}
	// .case__time
	&__time {
		color: #5383b9;
		font-weight: 500;
		font-size: 0.875rem;
		padding: 0.62rem 1.88rem;
		border-radius: 9.375rem;
		border: 1px solid #9bc3ef;
	}
	// .case__caption
	&__caption {
		font-family: $font-noto;
		line-height: 140%;
		font-size: 2rem;
		@media (min-width: $md5) {
			font-size: 2.8125rem;
		}
	}
	// .case__keywords
	&__keywords {
		margin-top: 2.5rem;
		border-radius: 0.625rem;
		background: #f2f8ff;
		padding: 1.75rem;
		@media (min-width: $md5) {
			padding: 3rem 3.12rem 3.5rem;
		}
		display: flex;
		flex-wrap: wrap;
		gap: 1.25rem;
		row-gap: 2rem;
	}
	// .case__keyword
	&__keyword {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 140%;
		padding-bottom: 0.65rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			height: 0.1875rem;
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
	}
	// .case__desc
	&__desc {
		color: #303030;
		margin-top: 1.25rem;
		line-height: 140%;
		@media (min-width: $md5) {
			line-height: 150%;
			margin-top: 1.87rem;
			font-size: 1.125rem;
		}
		& + .case__desc {
			margin-top: 1.2rem;
		}
		&.lg-offset {
			@media (min-width: $md5) {
				margin-top: 2rem !important;
			}
		}
	}
	// .case__heading
	&__heading {
		margin-top: rem(30);
		font-size: 1.5625rem;
		font-weight: 500;
		line-height: 140%;
	}
	// .case__promo
	&__promo {
		margin-top: 2.5rem;
		max-width: 36.125rem;
	}

	// .case__tagline
	&__tagline {
		margin-top: 1.5rem;
		color: #272727;
		font-weight: 500;
		line-height: 140%;
		font-size: 1.125rem;
		@media (min-width: $md5) {
			font-size: rem(22);
		}
		& + .case__desc {
			margin-top: 1.25rem;
		}
	}
	// .case__list
	&__list {
		margin-top: 1.25rem;
		color: #303030;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
			font-size: 1.125rem;
		}
		line-height: 150%;
		& span {
			display: block;
			font-weight: 500;
		}
		&.green-markers {
			&._ordered {
				& li {
					&::before {
						color: #389520;
					}
				}
			}
		}
		&.dark-markers {
			&:not(._ordered) {
				& li {
					&::before {
						background: #303030;
					}
				}
			}
		}
		&._ordered {
			& li {
				counter-increment: num;
				padding-left: 1.5rem;
				@media (min-width: $md5) {
					padding-left: 2.25rem;
				}
				&::before {
					content: counter(num) ".";
					position: absolute;
					top: 0;
					left: 0;
					color: #0057b8;
					font-size: 1.125rem;
					font-style: normal;
					font-weight: 500;
					line-height: 150%;
				}
			}
		}
		&:not(._ordered) {
			& li {
				padding-left: 1.75rem;
				&::before {
					content: "";
					position: absolute;
					top: 0.65rem;
					left: 0;
					@media (min-width: $md5) {
						left: 0.65rem;
					}
					width: 0.45rem;
					height: 0.45rem;
					flex-shrink: 0;
					background: #0057b8;
					border-radius: 50%;
				}
				&:not(:last-child) {
					margin-bottom: 0.75rem;
					@media (min-width: $md5) {
						margin-bottom: 1.75rem;
					}
				}
			}
		}
		& li {
			position: relative;

			&:not(:last-child) {
				margin-bottom: 0.75rem;
				@media (min-width: $md5) {
					margin-bottom: 0.8rem;
				}
			}
			& a {
				color: #0057b8;
				text-decoration: underline;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		& + .case__desc {
			margin-top: 1.25rem;
			@media (min-width: $md5) {
				margin-top: 1.75rem;
			}
		}
	}
	// .case__image
	&__image {
		margin-top: rem(30);
		@media (min-width: $md5) {
			margin-top: rem(50);
		}

		& + .case__tagline {
			margin-top: rem(40);
		}
		& img {
			border-radius: rem(10);
			height: auto;
		}
		&.no-rounded {
			& img {
				border-radius: 0;
			}
		}
	}
	// .case__labels
	&__labels {
		&:not(:first-child) {
			margin-top: rem(24);
			@media (min-width: $md5) {
				margin-top: rem(36);
			}
		}
		&.case__labels_lg {
			max-width: rem(320);
			@media (min-width: $md5) {
				max-width: 100%;
				gap: 1.25rem;
			}
		}
		display: flex;
		gap: 0.62rem;
		margin-bottom: 0.375rem;
		@media (min-width: $md5) {
			margin-bottom: 0;
			row-gap: 1.25rem;
		}
		flex-wrap: wrap;
		& + .case__desc {
			margin-top: rem(40);
		}
		& + .case__caption {
			margin-top: 3rem;
		}
	}
	// .case__label
	&__label {
		color: #303030;

		font-weight: 500;
		border-radius: 9.375rem;
		display: inline-block;
		border: 1px solid #d8d8d8;
		background: #fff;
		font-size: rem(13);
		padding: 0.375rem 1.25rem;
		@media (min-width: $md5) {
			padding: 0.25rem 1.25rem;
			font-size: 1.125rem;
		}
	}
	// .case__faq
	&__faq {
		margin-top: 3.75rem;
		&[data-spollers] {
			margin-top: 2.5rem;
			@media (min-width: $md5) {
				margin-top: 3rem;
			}
		}
	}
	// .case__faq-item
	&__faq-item {
		position: relative;
		counter-increment: num;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			height: rem(1);
			background: linear-gradient(271deg, #023384 4.14%, #0057b8 71.64%);
		}
		padding-bottom: rem(20);
		@media (min-width: $md5) {
			padding-bottom: 2rem;
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
			@media (min-width: $md5) {
				margin-bottom: 1.75rem;
			}
		}
	}
	// .case__faq-question
	&__faq-question {
		font-size: rem(18);
		@media (min-width: $md5) {
			font-size: 1.5625rem;
		}
		max-width: 53rem;
		font-weight: 500;
		line-height: 150%;
		color: #272727;
		&::before {
			content: counter(num) ".";
			color: #002f9c;
		}
		&[data-spoller] {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
			gap: 1rem;
			max-width: 100%;
			&::before {
				@extend %ic, .icon-down;
				order: 1;
				font-size: 1.25rem;
				transition: transform 0.3s ease 0s;
			}
			&._active {
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}
	// .case__faq-answer
	&__faq-answer {
		margin-top: 1.25rem;
		line-height: 140%;
		color: #080808;
		@media (min-width: $md5) {
			color: #303030;
			line-height: 150%;
			margin-top: 1.75rem;
			font-size: 1.125rem;
		}
	}
	// .case__tags
	&__tags {
		margin-top: 1.88rem;
	}
	// .case__tag
	&__tag {
		color: #0057b8;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 150%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #0057b8, $amount: 10);
			}
		}
	}
	// .case__slider
	&__slider {
		margin-top: rem(40);
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;
		@media (min-width: $md3) {
			max-width: 100%;
		}
	}
	// .case__slide
	&__slide {
		border: 1px solid #e0e0e0;
		height: auto;
		& img {
			height: auto;
		}
	}
	// .case__slider-pagination
	&__slider-pagination {
	}
	// .case__nums
	&__nums {
		margin-top: 3.13rem;

		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 2.5rem 0;
		gap: rem(30);
		@media (min-width: $md5) {
			align-items: stretch;
			padding: 3.12rem 0;
			flex-direction: row;
			z-index: 2;
		}
		@media (min-width: $md2) {
			justify-content: space-between;
		}
		flex-wrap: wrap;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			width: 100vw;
			height: 100%;
			background: #eef9eb;
			z-index: -1;
			left: 50%;
			transform: translateX(-50%);
			@media (min-width: $md4) {
				transform: none;
				left: calc(-4.5rem - 1px);
			}
		}

		&.case__nums_aqua {
			&::before {
				background: #f4fcfc;
			}
			.case__nums-value {
				color: #16cbc2;
			}
			// .case__nums-item {
			// 	flex: 0 1 30%;
			// 	&:last-child {
			// 		flex: 0 1 33%;
			// 	}
			// }
		}
		&.case__nums_light {
			&::before {
				background: #edf1f8;
			}
			.case__nums-value {
				color: #86bc25;
			}
		}
	}
	// .case__nums-item
	&__nums-item {
		max-width: rem(215);
		@media (min-width: $md4) {
			flex: 0 1 calc(50% - 1.5rem);
			max-width: 100%;
		}
		@media (min-width: $md2) {
			flex: 0 1 calc(33.33% - 1.5rem);
			max-width: rem(313);
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .case__nums-value
	&__nums-value {
		color: #389520;
		font-family: $font-noto;
		line-height: 100%;
		font-weight: 400;
		font-size: 2.8125rem;
		@media (min-width: $md5) {
			font-size: 4.375rem;
		}

		& small {
			vertical-align: top;
			font-size: 0.5em;
			display: inline-block;
			transform: translateY(-0.55rem);
		}
	}
	// .case__nums-desc
	&__nums-desc {
		font-size: 0.8125rem;
		line-height: 140%;
		margin-top: 0.94rem;
		@media (min-width: $md5) {
			margin-top: 1.87rem;
			font-size: 1.125rem;
		}
	}
}

.related-cases {
	padding: rem(50) 0;
	@media (min-width: $md3) {
		padding: 6.25rem 0 rem(100);
	}
	& + .banner {
		padding-top: 0;
	}
	// .related-cases__container
	&__container {
	}
	// .related-cases__header
	&__header {
		position: relative;
		display: flex;
		gap: 2rem;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $md3) {
			justify-content: center;
		}
	}
	// .related-cases__title
	&__title {
		font-weight: 400;
		@media (min-width: $md3) {
			font-weight: 500;
			text-align: center;
			flex: 1 1 auto;
		}
	}
	// .related-cases__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 2rem;
		@media (min-width: $md3) {
			gap: 5.37rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
	// .related-cases__prev
	&__prev {
		position: static;
		margin: 0;
		transform: none;
	}
	// .related-cases__next
	&__next {
		@extend .related-cases__prev;
	}
	// .related-cases__slider
	&__slider {
		margin: rem(30) auto 0;
		overflow: visible;
		width: fit-content;
		max-width: 100%;
		@media (min-width: $md4) {
			margin: 2.5rem auto 0;
		}
		@media (min-width: $md2) {
			margin: 3.75rem auto 0;
		}
	}
}

.related-case {
	position: relative;
	width: rem(340);
	height: auto;

	@media (min-width: $md2) {
		width: rem(600);
	}
	display: flex;
	flex-direction: column;
	color: #fff;
	overflow: hidden;
	z-index: 1;

	@media (any-hover: hover) {
		&:hover {
			&::before {
				transform: scale(1.075);
			}
		}
	}

	// .related-case__header
	&__header {
		position: relative;
		height: rem(233);
		padding: rem(30) rem(20);
		@media (min-width: $md5) {
			padding: rem(30);
		}
		@media (min-width: $md2) {
			height: 21.4rem;
			padding: 3.12rem;
		}
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: var(--background-image);
			z-index: -1;
			transition: transform 0.3s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
			z-index: -1;
		}
	}

	// .related-case__number
	&__number {
		color: #fff;
		font-family: $font-noto;
		font-weight: 300;
		line-height: 100%;
		font-size: 3.4375rem;
		@media (min-width: $md2) {
			font-size: 5.625rem;
		}
		& small {
			font-size: 0.6em;
			vertical-align: super;
		}
	}
	// .related-case__subtitle
	&__subtitle {
		margin-top: 1.15rem;
		font-size: 0.9375rem;
		@media (min-width: $md2) {
			margin-top: 0.94rem;
			font-size: 1.5625rem;
		}
		line-height: 120%;
	}
	&__body {
		background: #0057b8;
		padding: 1.88rem;
		padding: rem(30) rem(20);
		@media (min-width: $md5) {
			padding: rem(30);
		}
		@media (min-width: $md2) {
			padding: 2.5rem 3.12rem;
		}
		flex: 1 1 auto;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	// .related-case__name
	&__name {
		line-height: 130%;
		font-weight: 500;
		font-size: 1.125rem;
		flex: 1 1 auto;
		margin-bottom: auto;
		display: flex;
		align-items: flex-start;
		@media (min-width: $md2) {
			font-size: 1.875rem;
		}
	}
	&__more {
		margin-top: 1.8rem;
		gap: 0.62rem;
		font-size: 0.625rem;
		margin-bottom: auto;
		&.btn.btn-sm {
			font-size: 0.66163rem;
			padding: 0.21rem 0.95rem;
			border: rem(2) solid #fff;
			@media (min-width: $md2) {
				padding: 0.45rem 1.25rem;
				font-size: 1rem;
			}
		}
		&::after {
			content: "";
			width: 1.25rem;
			height: 1.25rem;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='11' viewBox='0 0 20 11' fill='none'%3E%3Cg clip-path='url(%23clip0_7005_2487)'%3E%3Cpath d='M15.2786 1.33203L19.4453 5.4987M19.4453 5.4987L15.2786 9.66536M19.4453 5.4987L9.5 5.4987' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7005_2487'%3E%3Crect width='10' height='20' fill='white' transform='translate(20 0.5) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		}
	}
	// .related-case__desc
	&__desc {
		line-height: 150%;
		font-size: 0.875rem;
		margin-top: 0.75rem;
		margin-bottom: auto;
		@media (min-width: $md4) {
			margin-top: rem(10);
			font-size: rem(15);
		}
	}
	// .related-case__logos
	&__logos {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1.25rem;
		min-height: rem(32);
		margin-top: 2.27rem;
		@media (min-width: $md2) {
			margin-top: rem(47);
			gap: rem(48);
		}
	}
	// .related-case__logo
	&__logo {
		@media (max-width: $md4) {
			& img {
				max-height: rem(28);
			}
		}
	}
}
