// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";
// @import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,regular,500,600);
// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "MuseoSansCyrl";
$font-noto: "NotoSerif";
// $font-noto: "Noto Serif SC";

// Шрифт по умолчанию

$md0: 1659.98px;
$md1: 1483.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 766.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1300); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #080808;
$accent: #0057b8;
$gray: #d6d6d6;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

:root {
	--lock-padding: 0px;
	// scroll-margin-top: 6.875rem;
}
html {
	scroll-margin-top: 6.875rem;
	scroll-padding-top: 6.875rem;
	// overflow: auto;
}

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
body {
	font-family: $fontfamily, sans-serif;
	color: $text;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	&.lock {
		overflow: hidden;
		@media (min-width: $md3) {
			overflow: visible;
		}
	}
}
source[data-srcset] {
	width: 100%;
	height: 100%;
	display: block;
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	padding-right: var(--lock-padding, 0);
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	box-sizing: content-box;
	max-width: 100%;
	padding: 0 rem(20);
	@media (min-width: $md4) {
		max-width: rem(727);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: $maxWidthContainer;
	}
	&.container-sm {
		@media (min-width: $md2) {
			max-width: rem(1120);
		}
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	overflow-x: clip;
	& > * {
		scroll-margin-top: rem(110);
	}
}
// ========================================================

@import "pages/home";
@import "pages/services";
@import "pages/solutions";
@import "pages/about";
@import "pages/error";
@import "pages/policy";
