//============ МОДУЛИ ====================
// @import "modules/popup";
@import "modules/breadcrumbs";
@import "modules/pagination";
@import "modules/tooltip";
@import "modules/select";

//============ МОДУЛИ ====================

.title-xl {
	line-height: 120%;
	letter-spacing: 0.025em;
	font-family: $font-noto;
	font-size: 2.75rem;
	@media (min-width: $md6) {
		font-size: 3rem;
	}
	@media (min-width: $md2) {
		font-size: 4.0625rem;
	}
}

.title-md {
	line-height: 120%;
	font-family: $font-noto;
	font-size: 3rem;
	font-weight: 500;
	@media (min-width: $md5) {
		font-size: 3.4375rem;
	}
	@media (min-width: $md2) {
		font-size: 3.4375rem;
	}
}

.title {
	font-weight: 500;
	line-height: 130%;
	font-family: $font-noto;
	font-size: 2rem;
	@media (min-width: $md3) {
		font-size: 2.8125rem;
	}
}

.title-sm {
	font-family: $font-noto;
	font-weight: 500;
	line-height: 100%;
	font-size: 1.875rem;
	@media (min-width: $md3) {
		font-size: 2.1875rem;
	}
}

.swiper-button-next,
.swiper-button-prev {
	transition: color 0.3s ease 0s;
	color: $accent;
	font-size: 1.125rem;
	@extend %ic;
	z-index: 2;
	&::before {
		color: currentColor;
	}
	&::after {
		display: none;
	}
	@media (any-hover: hover) {
		&:hover {
			color: $accent;
		}
	}
	&.swiper-button-lock {
		display: none;
	}
}
.swiper-button-next {
	@extend .icon-right;
}
.swiper-button-prev {
	@extend .icon-left;
}

.swiper-pagination {
	margin-top: 1.25rem;
	@media (min-width: $md5) {
		margin-top: 0.75rem;
	}
	position: static;
	bottom: auto;
	padding: 0.75rem 0;
	display: flex;
	justify-content: center;
	.swiper-pagination-bullet {
		position: relative;
		height: rem(5);
		width: rem(5);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		opacity: 1;
		transition: color 0.3s ease 0s;
		background: currentColor;
		--swiper-pagination-bullet-horizontal-gap: 0.625rem;
		color: #737474;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: scale(0) translate(-50%, -50%);
			border: rem(1) solid currentColor;
			width: rem(21);
			height: rem(21);
			display: block;
			border-radius: 50%;
			transition: transform 0.2s linear 0s;
			transform-origin: 0 0;
		}
		&::after {
			content: "";
			position: absolute;
			width: rem(21);
			height: rem(21);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.swiper-pagination-bullet-active {
			color: #1371d5;
			&::before {
				transform: scale(1) translate(-50%, -50%);
			}
		}
	}
	&.swiper-pagination-lock {
		display: none;
	}
}

.pc-only {
	@media (max-width: $md4) {
		display: none;
	}
}

.desktop-only {
	@media (max-width: $md2) {
		display: none;
	}
}

.mobile-only {
	@media (min-width: $md4) {
		display: none;
	}
}

.tablet-only {
	@media (min-width: $md2) {
		display: none;
	}
}

.color-blue {
	color: #0057b8;
}

// .fw-normal {
// 	font-weight: 400;
// }

// .interline-sm {
// 	line-height: 140%;
// }

// .map {
// 	margin-top: 7.5rem;
// 	@media (min-width: $md2) {
// 		margin-top: 8.75rem;
// 	}
// 	background: $beige;
// 	height: rem(500);
// }

// [data-form-succes] {
// 	&:not(.visible) {
// 		display: none;
// 	}
// }

// ._sending {
// 	// &::after {
// 	// 	content: "";
// 	// 	position: absolute;
// 	// 	top: 0;
// 	// 	left: 0;
// 	// 	width: 100%;
// 	// 	height: 100%;
// 	// 	border-radius: inherit;
// 	// 	background: inherit;
// 	// 	z-index: 2;
// 	// }
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid currentColor;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $text;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: darken(
	$color: $scrollbarColor,
	$amount: 10,
);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
